.customer {
    margin-top: 30px;
}

.custom__subtitle {
    color: #0B132A;
    text-align: center;
    font-family: Rubik;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 142.857% */
}

.custom__subtext {
    margin-top: 20px;
    color: #4F5665;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.custom__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

.custom__row:hover {
    border: 2px solid #F53838;

}

.custom__row {
    width: 400px;
    border-radius: 10px;
    border: 2px solid #ddd;
    background: #FFF;
    height: 240px;
    padding: 20px;
    transition: 0.4s;


    .custom__head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .custom__col {
            display: flex;
            align-items: center;
            gap: 20px;

            .custom__top {
                color: #0B132A;
                text-align: center;
                font-family: Rubik;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;

            }

            .custom__title {
                color: #4F5665;
                text-align: center;
                font-family: Rubik;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                margin-top: 5px;
            }
        }

        .custom__col-1 {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.custom__body {
    margin-top: 20px;

    .custom__text {
        color: #0B132A;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 187.5% */
    }
}

// element


.element {
    margin-top: 80px;
    background-color: #fff;
}

.element__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.element__col {
    display: flex;
    align-items: center;
    gap: 20px;

    .img__a {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #F53838;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img__b {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #F53838;
        background-color: #F53838;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}


